<!DOCTYPE html>
<head>
<html lang="pt-BR">
    <meta charset="UTF-8">
    <title>Usuários</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='usuarios.css') }}">
</head>

<h1>
    Usuários cadastrados!
</h1>
<ul>
    {% for usuario in usuarios %}
        <li>
            Nome: {{ usuario[1] }}, Usuário: {{ usuario[2] }}, Matrícula: {{ usuario[3] }}, CPF: {{ usuario[4] }}, Telefone: {{ usuario[5] }}, Setor: {{ usuario[6] }}
        </li>
    {% endfor %}
</ul>
